.headerone{
    display: flex;
    width: 74%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 17px 0;
    .logo-box{
        display: flex;
        align-items: center;
    }
    .text-box{
        text-align: center;
        display: flex;
        align-items: center;
        width: 50%;
        justify-content: end;
        flex-wrap: wrap;
        .email-box{
            margin-right: 30px;
            .email-logo{
                color: #FF3414;
                margin-bottom: -3px;
            }
            span{
                margin-left: 9px;
                font-size: 13px;
                color: #919191;
            }
        }
        .number-box{
            margin: 0 30px 0 20px;
            .number-logo{
                color: #FF3414;
                font-size: 13px;
            }
            span{
                margin-left: 9px;
                font-size: 13px;
                color: #919191;
            }
        }
        .btn-box{
            margin-left: 20px;
            button{
                color: #FF3414 ;
                padding: 14px 30px;
                font-family: "Poppins", sans-serif;
                font-size: 16px;
                font-weight: 400;
                border: 1px solid #FF3414;
                text-align: center;
                text-transform: capitalize;
                transition: 0.5s;
                cursor: pointer;
                background: transparent;
                &:hover{
                    background-color: #FF3414;
                    color: white;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .text-box{
        display: none !important;
    }    
}